.animation-1 {
    animation: trans 5s cubic-bezier(.18, .89, .32, 1.28) 0s alternate forwards,
        opacity 5s cubic-bezier(.6, -0.28, .74, .05) 20s forwards;
}

.animation-2 {
    animation: transparency 5s cubic-bezier(.68, -0.55, .27, 1.55) 5s alternate forwards;
}

.animation-3 {
    animation: transparency 5s cubic-bezier(.68, -0.55, .27, 1.55) 10s alternate forwards;
}

.animation-4 {
    animation: transparency 5s cubic-bezier(.68, -0.55, .27, 1.55) 15s alternate forwards;
}

@keyframes transparency {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;

    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes trans {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }


    100% {
        opacity: 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}